body{
	font-size: 12px;
	font-family: "Microsoft YaHei";
	background-color: #fff;
}
::-ms-clear, ::-ms-reveal{
	display: none;
}
img{
	display: block;
	border: none;
}
input, button{
	outline: none;
	border: none;
}
ul, li{
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
a:link, a:visited, a:hover, a:active{
	color: #000;
	text-decoration: none;
}
header{
	width: 100%;
	border-bottom: 4px solid red;
}
.tool_line{
	width: 100%;
	background-color: #f9f9f9;
	border-bottom: 1px solid #f2f2f2;
}
.tool{
	width: 100%;
	width: 1200px;
	margin: 0 auto;
	height: 34px;
	line-height: 34px;
	position: relative;
	padding: 0 20px;
	color: #666;
}
.tool a{
	color: #666;
}
.tool .welcome,
.tool .operate{
	float: right;
}
.tool .welcome{
	margin-right: 20px;
}
.tool .welcome a{
	color: red;
}
.tool .operate > li{
	float: left;
	margin-right: 10px;
}
.tool .operate > li:after{
	content: "";
	border-left: 1px solid #ccc;
	margin-left: 10px;
}
.tool .operate > li:last-child:after{
	border-left: none;
	margin-left: 0;
}
.tool .operate > li a:hover{
	color: red;
}
.tool .operate > li a .icon-cart{
	margin-right: 5px;
	color: red;
}
.tool .operate > li a b{
	color: red;
}
.logo_line{
	width: 100%;
	background-color: #fff;
	color: #969696;
	padding-bottom: 20px;
}
.logo_line a{
	color: #969696;
}
.logo{
	width: 100%;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.logo > a{
	display: block;
	width: 200px;
	overflow: hidden;
}
.logo .search_line{
	margin: 0 auto;
	padding-top: 20px;
}
.logo .search_line .search{
	border: 2px solid red;
	display: flex;
}
.logo .search_line .search input{
	width: 395px;
	padding-left: 5px;
}
.logo .search_line .search > div{
	background-color: #f2f2f2;
	width: 90px;
	text-align: center;
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
	font-size: 16px;
	position: relative;
	cursor: pointer;
}
.logo .search_line .search > div .icon{
	display: inline-block;
	border: 6px solid #ccc;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom: none;
	margin-left: 10px;
	vertical-align: middle;
}
.logo .search_line .search > div > ul{
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	top: 36px;
	left: 0;
	line-height: 1;
	background-color: #fff;
	border: 1px solid #eee;
	text-align: left;
	font-size: 12px;
	line-height: 1;
	z-index: 99;
	display: none;
}
.logo .search_line .search > div > ul a{
	display: block;
	width: 100%;
	padding: 8px 15px;
	box-sizing: border-box;
	color: #646464;
}
.logo .search_line .search > div > ul a:hover{
	color: #fff;
	text-decoration: underline;
	background-color: #ccc;
}
.logo .search_line .search > button{
	width: 40px;
	padding: 0;
	padding-left: 5px;
	line-height: 0;
	background-color: red;
	color: #fff;
	cursor: pointer;
	font-size: 24px;
}
.logo .search_line .search_hot{
	padding-top: 10px;
}
.logo .search_line .search_hot a{
	margin-right: 10px;
}
.logo .search_line .search_hot a:hover{
	color: red;
	text-decoration: underline;
}
.logo .search_line .search_hot a:last-child{
	float: right;
	margin-right: 0;
}
.logo .user_line{
	overflow: hidden;
}
.logo .user_line a{
	float: left;
	border: 2px solid #ccc;
	padding: 10px;
	background-color: #f2f2f2;
	font-size: 14px;
}
.logo .user_line a:first-child{
	border-color: red;
	color: #fff;
	background-color: red;
}
.logo .user_line a:first-child .icon-cart{
	font-size: 12px;
}
.logo .user_line a:first-child:hover{
	color: red;
	background-color: #f2f2f2;
	border-color: #ccc;
}
.logo .user_line a:last-child{
	border-left: none;
	color: #646464;
}
.logo .user_line a:last-child:hover{
	color: red;
}
.main_container{
	width: 100%;
}
.main{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.main .nav > span{
	color: #fff;
	background-color: red;
	padding: 10px;
	display: block;
	width: 180px;
	font-size: 16px;
	text-align: center;
}
.main .nav > span .icon-user{
	margin-right: 10px;
}
.main .nav > ul{
	width: 200px;
	background-color: #f2f2f2;
	font-size: 14px;
}
.main .nav > ul > li{
	padding: 20px;
	text-align: center;
}
.main .nav > ul > li a{
	color: #969696;
}
.main .nav > ul > li a:hover,
.main .nav > ul > li.active a{
	color: red;
}
.main .nav,
.main .con{
	float: left;
}
.con{
	width: 1000px;
	font-size: 16px;
}
.tab{
	display: none;
}
.tab.active{
	display: block;
}
.box{
	margin-top: 20px;
}
.box label{
	display: inline-block;
	width: 150px;
	text-align: right;
}
.box select{
	font-size: 16px;
	padding: 0 10px;
	outline: none;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
}
.box input{
	width: 50%;
	border: 1px solid #ccc;
	padding: 10px 5px;
	border-radius: 4px;
}
.btn{
	text-align: center;
	margin-top: 20px;
}
.btn button:first-child{
	margin-right: 20px;
}
.btn button,
.box > button{
	line-height: 1;
	padding: 10px 20px;
	background-color: red;
	color: #fff;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	opacity: 0.8
}
.btn button:hover,
.box > button:hover{
	opacity: 0.5;
}
.box > button{
	margin-left: 20px;
}
.box table{
	width: 90%;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-collapse: collapse;
}
.box td,
.box th{
	text-align: center;
	padding: 15px 0;
	border: 1px solid #ccc;
}
.box td a:hover{
	color: red;
	text-decoration: underline;
}
.box th{
	background-color: red;
	color: #fff;
	opacity: 0.7;
}
.no-result{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
	color: #666;
	height: 300px;
	line-height: 300px
}