doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='/style/reset.css')
    link(rel='stylesheet', href='/style/fonts.css')
    link(rel='stylesheet', href='/style/searchList.css')
  body
    header
      .tool_line
        #tool.tool
          ul.operate
            li
              a(href='/shopping')
                span.icon-cart
                | 购物车
                b.cart_items_num 0
            li
              a(href='/user') 我的订单
            li
              a(href='/user') 我的帐号
          .welcome
            span
              | 欢迎光临，请
              a(href='/login') 登录
              |  没有账号？点击
              a(href='/register/phone') 注册
      .logo_line
        .logo
          a(href='/')
            img(src='/images/logo.jpg')
          .search_line
            .search
              input(type='text')
              #search_classify
                span 全部分类
                span.icon
                ul
                  li
                    a(href='javascript:;') 全部分类
                  li
                    a(href='javascript:;') 图书
                  li
                    a(href='javascript:;') 电子书
              button
                span.icon-search
            .search_hot
              | 热搜：
              a(href='javascript:;') 日本语
              a(href='javascript:;') 妖怪客栈
              a(href='javascript:;') 汗青堂丛书
              a(href='javascript:;') 看万物
              a(href='javascript:;') 使女的故事
              a(href='javascript:;') 高级搜索
          .user_line
            a.user_cart(href='/shopping')
              span.icon-cart
              | 						购物车
              b.cart_items_num 0
            a.user_indent(href='/user')
              | 我的订单
    .main_container
      .main
        h1.nav
          a(href='javascript:;') 全部
          | >
          span 白金数据
        ul.list
          li
            a.img(href='/detail', title='东野圭吾新作：白金数据')
              img(src='/images/list1.jpg')
            p.price
              span.cur_price ¥24.70
              span.ori_price
                | 定价:
                span ¥42.00
              span.discount (5.89折)
            a.title(href='/detail', title='东野圭吾新作：白金数据')
              | 东野圭吾新作：
              span.key 白金数据
            p.author [日]东野圭吾
            .btn
              a(href='javascript:;')
                span.icon-cart
                | 加入购物车
              a(href='javascript:;') 收藏
          li
            a.img(href='detail.html', title='东野圭吾新作：白金数据')
              img(src='/images/list1.jpg')
            p.price
              span.cur_price ¥24.70
              span.ori_price
                | 定价:
                span ¥42.00
              span.discount (5.89折)
            a.title(href='/detail', title='东野圭吾新作：白金数据')
              | 东野圭吾新作：
              span.key 白金数据
            p.author [日]东野圭吾
            .btn
              a(href='javascript:;')
                span.icon-cart
                | 加入购物车
              a(href='javascript:;') 收藏
          li
            a.img(href='detail.html', title='东野圭吾新作：白金数据')
              img(src='/images/list1.jpg')
            p.price
              span.cur_price ¥24.70
              span.ori_price
                | 定价:
                span ¥42.00
              span.discount (5.89折)
            a.title(href='detail.html', title='东野圭吾新作：白金数据')
              | 东野圭吾新作：
              span.key 白金数据
            p.author [日]东野圭吾
            .btn
              a(href='javascript:;')
                span.icon-cart
                | 加入购物车
              a(href='javascript:;') 收藏
          li
            a.img(href='detail.html', title='东野圭吾新作：白金数据')
              img(src='/images/list1.jpg')
            p.price
              span.cur_price ¥24.70
              span.ori_price
                | 定价:
                span ¥42.00
              span.discount (5.89折)
            a.title(href='detail.html', title='东野圭吾新作：白金数据')
              | 东野圭吾新作：
              span.key 白金数据
            p.author [日]东野圭吾
            .btn
              a(href='javascript:;')
                span.icon-cart
                | 加入购物车
              a(href='javascript:;') 收藏
          li
            a.img(href='detail.html', title='东野圭吾新作：白金数据')
              img(src='/images/list1.jpg')
            p.price
              span.cur_price ¥24.70
              span.ori_price
                | 定价:
                span ¥42.00
              span.discount (5.89折)
            a.title(href='detail.html', title='东野圭吾新作：白金数据')
              | 东野圭吾新作：
              span.key 白金数据
            p.author [日]东野圭吾
            .btn
              a(href='javascript:;')
                span.icon-cart
                | 加入购物车
              a(href='javascript:;') 收藏
          li
            a.img(href='detail.html', title='东野圭吾新作：白金数据')
              img(src='/images/list1.jpg')
            p.price
              span.cur_price ¥24.70
              span.ori_price
                | 定价:
                span ¥42.00
              span.discount (5.89折)
            a.title(href='detail.html', title='东野圭吾新作：白金数据')
              | 东野圭吾新作：
              span.key 白金数据
            p.author [日]东野圭吾
            .btn
              a(href='javascript:;')
                span.icon-cart
                | 加入购物车
              a(href='javascript:;') 收藏
          li
            a.img(href='detail.html', title='东野圭吾新作：白金数据')
              img(src='/images/list1.jpg')
            p.price
              span.cur_price ¥24.70
              span.ori_price
                | 定价:
                span ¥42.00
              span.discount (5.89折)
            a.title(href='detail.html', title='东野圭吾新作：白金数据')
              | 东野圭吾新作：
              span.key 白金数据
            p.author [日]东野圭吾
            .btn
              a(href='javascript:;')
                span.icon-cart
                | 加入购物车
              a(href='javascript:;') 收藏
          li
            a.img(href='detail.html', title='东野圭吾新作：白金数据')
              img(src='/images/list1.jpg')
            p.price
              span.cur_price ¥24.70
              span.ori_price
                | 定价:
                span ¥42.00
              span.discount (5.89折)
            a.title(href='detail.html', title='东野圭吾新作：白金数据')
              | 东野圭吾新作：
              span.key 白金数据
            p.author [日]东野圭吾
            .btn
              a(href='javascript:;')
                span.icon-cart
                | 加入购物车
              a(href='javascript:;') 收藏
          li
            a.img(href='detail.html', title='东野圭吾新作：白金数据')
              img(src='/images/list1.jpg')
            p.price
              span.cur_price ¥24.70
              span.ori_price
                | 定价:
                span ¥42.00
              span.discount (5.89折)
            a.title(href='detail.html', title='东野圭吾新作：白金数据')
              | 东野圭吾新作：
              span.key 白金数据
            p.author [日]东野圭吾
            .btn
              a(href='javascript:;')
                span.icon-cart
                | 加入购物车
              a(href='javascript:;') 收藏
          li
            a.img(href='detail.html', title='东野圭吾新作：白金数据')
              img(src='/images/list1.jpg')
            p.price
              span.cur_price ¥24.70
              span.ori_price
                | 定价:
                span ¥42.00
              span.discount (5.89折)
            a.title(href='detail.html', title='东野圭吾新作：白金数据')
              | 东野圭吾新作：
              span.key 白金数据
            p.author [日]东野圭吾
            .btn
              a(href='javascript:;')
                span.icon-cart
                | 加入购物车
              a(href='javascript:;') 收藏
        .pagenum_container
          .pagenum
            a(href='javascript:;') &lt;
            a.active(href='javascript:;') 1
            a(href='javascript:;') 2
            a(href='javascript:;') 3
            a(href='javascript:;') 4
            a(href='javascript:;') 5
            span ···
            a(href='javascript:;') &gt;
