doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='/style/reset.css')
    link(rel='stylesheet', href='/style/fonts.css')
    link(rel='stylesheet', href='/style/login.css')
  body
    header
      div
        a(href='/')
          img(src='/images/logo.jpg')
    .login_box
      if title === "管理员登录"
        form(method="POST", action="/admin/signin").login
          p.login_method 密码登陆
          .login_info
            span.icon.icon-user
            input#user(type='text', name="user[username]")
            label.placeholder(for='user') 邮箱/昵称/手机号
            span#clear_user.icon-cross
          p#user_tip.tip 请输入邮箱/昵称/手机号
          .login_info
            span.icon.icon-lock
            input#password(type='password', name="user[password]")
            label.placeholder(for='password') 密码
          p#password_tip.tip 请填写长度为6-20个字符的密码
          button#submit.btn(type='submit') 登 录
          a(href='/register/phone') 立即注册
      else
        form(method="POST", action="/user/signin").login
          p.login_method 密码登陆
          .login_info
            span.icon.icon-user
            input#user(type='text', name="user[username]")
            label.placeholder(for='user') 邮箱/昵称/手机号
            span#clear_user.icon-cross
          p#user_tip.tip 请输入邮箱/昵称/手机号
          .login_info
            span.icon.icon-lock
            input#password(type='password', name="user[password]")
            label.placeholder(for='password') 密码
          p#password_tip.tip 请填写长度为6-20个字符的密码
          button#submit.btn(type='submit') 登 录
          a(href='/register/phone') 立即注册
    script(src='/js/login.js')
