doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='/style/reset.css')
    link(rel='stylesheet', href='/style/register.css')
    link(rel='stylesheet', href='/style/fonts.css')
  body
    header
      div
        a(href='/')
          img(src='/images/logo.jpg')
    .register_box
      p
        | 已有帐号？
        a(href='/login') 立即登录
        a(href='/') 回到首页
      ul#list
        li
          a(href='/register/phone')
            span.icon-mobile
            | 手机注册
        li.active
          a(href='javascript:;')
            span.icon-mail3
            | 邮箱注册
        li
          a(href='/register/common')
            span.icon-user
            | 普通账号注册
      form.register(method="POST", action="/user/signup")
        div
          label(for='user_id') 电子邮箱
          input#user_id(type='text', placeholder='请输入你的邮箱', name="user[username]")
          p 帐号为Email地址
        div
          label(for='user_password') 登录密码
          input#user_password(type='password', name="user[password]")
          p 密码为6-20个字符，可由英文、数字及符号组成
        div
          label(for='user_repassword') 确认密码
          input#user_repassword(type='password')
          p 请再次输入密码
        div
          button#submit(type="submit") 立即注册
    script(src='/js/register.js')