doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='/style/reset.css')
    link(rel='stylesheet', href='/style/fonts.css')
    link(rel='stylesheet', href='/style/user.css')
  body
    header
      .tool_line
        #tool.tool
          ul.operate
            li
              a.shopping_cart(href='javascript:;')
                span.icon-cart
                | 购物车
                b.cart_items_num 0
            li
              a.user_indent(href='javascript:;') 我的帐号
          .welcome
            span
              if user
                | 您好，#{user.username}&nbsp;
                a(href="/logout") [注销]
              else
                | 欢迎光临，请
                a(href='/login') 登录
                |  没有账号？点击
                a(href='/register/phone') 注册
      .logo_line
        .logo
          a(href='/')
            img(src='/images/logo.jpg')
          .search_line
            .search
              input#search_con(type='text')
              #search_classify
                span 全部分类
                span.icon
                ul
                  li
                    a(href='javascript:;') 全部分类
                  li
                    a(href='javascript:;') 图书
                  li
                    a(href='javascript:;') 电子书
              button#search
                span.icon-search
            .search_hot
              | 热搜：
              a(href='javascript:;') 日本语
              a(href='javascript:;') 妖怪客栈
              a(href='javascript:;') 汗青堂丛书
              a(href='javascript:;') 看万物
              a(href='javascript:;') 使女的故事
              a(href='javascript:;') 高级搜索
          .user_line
            a.user_cart.shopping_cart(href='javascript:;')
              span.icon-cart
              |             购物车
              b.cart_items_num 0
            a.user_indent(href='javascript:;')
              | 我的帐号
    .main_container
      .main
        .nav
          span
            span.icon-user
            | 我的帐号
          ul#nav
            li.active
              a(href='javascript:;') 个人信息
            li
              a(href='javascript:;') 修改登录密码
            li
              a(href='javascript:;') 修改支付密码
            li
              a(href='javascript:;') 收货地址
            li
              a(href='javascript:;') 我的订单
        .con
          .tab.active
            .box
              label 用户名：
              span a18814382747
            .box
              label 性别：
              select(value="")
                option(value="") 
                option(value="男") 男
                option(value="女") 女
            .box
              label 手机号：
              input(type="text")
            .box
              label 余额：
              span &yen;100.00
              button 充值
            .btn
              button 修改
              button 重置
          .tab
            .box
              label 旧登录密码：
              input(type="password")
            .box
              label 新登录密码：
              input(type="password")
            .box
              label 再次输入密码：
              input(type="password")
            .btn
              button 修改
              button 重置
          .tab
            .box
              label 旧支付密码：
              input(type="password")
            .box
              label 新支付密码：
              input(type="password")
            .box
              label 再次输入密码：
              input(type="password")
            .btn
              button 修改
              button 重置
          .tab
            .box
              label 收货地址：
              input(type="text")
            .btn
              button 修改
              button 重置
          .tab
            .box
              table
                tr
                  th 订单编号
                  th 下单时间
                  th 消费金额
                  th 订单状态
                  th 操作
                tr
                  td 44520201805092205326
                  td 2018-05-09 22:05
                  td 213.54
                  td 待发货
                  td
                    a(href="https://www.kuaidi100.com/chaxun?com=huitongkuaidi&nu=71263967936202", target="_blank") 查看物流
                tr
                  td 44520201805092205345
                  td 2018-05-09 22:05
                  td 213.54
                  td 已发货
                  td
                    a(href="https://www.kuaidi100.com/chaxun?com=huitongkuaidi&nu=71263967936202", target="_blank") 查看物流
                tr
                  td 44520201805082205345
                  td 2018-05-09 22:05
                  td 213.54
                  td 已签收
                  td
                    a(href="https://www.kuaidi100.com/chaxun?com=huitongkuaidi&nu=71263967936202", target="_blank") 查看物流
    script(src='/js/utils.js')
    script(src='/js/header.js')
    script(src="/js/user.js")